<div class="editable-component" [ngStyle]="style">
  <textarea
    class="{{className}}"
    *ngIf="isActiveInput"
    (keydown.escape)="cancelUpdate()"
    (keydown.enter)="updateEntity()"
    [(ngModel)]="entity[entityField]"
    [value]="entity[entityField]"
     rows="{{rows}}" cols="{{cols}}"
  >

  </textarea>

  <span *ngIf="!isActiveInput" class="{{className}} inline">

{{entity[entityField]}}

</span>
  <div class="inline">
    <button
      class="btn btn-small btn-warning btn-editable"
      *ngIf="!isActiveInput"
      (click)="isActiveInput = true"
    >Edit</button>
    <button
      class="btn btn-small btn-success btn-editable"
      *ngIf="isActiveInput" (click)="updateEntity()">Save</button>
    <button
      class="btn btn-small btn-danger btn-editable"
      *ngIf="isActiveInput" (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
