<form [ngClass]="isValidatingCard ? 'loading' : ''">
  <div class="group">
    <label>
    <span>Card Number</span>
    <div #cardNumber class="field">
    </div>
    </label>
    <label>
      <span>Expire Date</span>
      <div #cardExp class="field">
      </div>
    </label>
    <label>
      <span>CVC</span>
      <div #cardCvc class="field">
      </div>
    </label>
  </div>
  <div class="outcome">
    <div class="error" *ngIf="error">
      {{error}}
    </div>
    <div *ngIf="token" class="success alert alert-success">
      Card Accepted successfuly!
    </div>
  </div>
  <button [disabled]="!isCardValid()" (click)="onSubmit()" type="button">Submit</button>
</form>
