@import "variables";
.btn-bwm {
  font-size: 14px;
  color: white;
  padding: 10px 15px;
}

.bookings-inner-container {
  p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.mrg{
  color:white;
  background-color: $main-color;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
